<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Default Content Page</Name>
    <Alias>DefaultContentPage</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>ContentPages</Master>
    <Compositions>
      <Composition>ContentPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>DefaultContentPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>DefaultContentPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>DefaultContentPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Contents</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for this page.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Contents</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The content main image.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>8fef2ef8b830c4bf4c7abf40aadff8c9</Hash>
</DocumentType>