@using UmbracoBase.Web.Models.DocumentTypes.WebPages.LandingPages
@inherits UmbracoViewPage<HomeLandingPage>
@{
    Layout = "_Layout.cshtml";
}
<h1>
    @Model.HeadingTitle
</h1>
<a href="/default-content">Go to content page</a>