<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Default Content Page</Name>
  <Alias>DefaultContentPage</Alias>
  <Design><![CDATA[﻿@using UmbracoBase.Web.Models.DocumentTypes.WebPages.ContentPages
@using Slimsy
@using Zone.UmbracoMapper
@inherits UmbracoViewPage<DefaultContentPage>
@{
    Layout = "_Layout.cshtml";
}
<h1>
    @Model.PageTitle
</h1>
@foreach (MediaFile image in Model.Images)
{
    <section class="responsive-image">
        <img src="@Umbraco.TypedMedia(image.Id).GetResponsiveImageUrl(270, 161)&filter=sepia" alt="@image.AltText" />
    </section>
}
@Html.Raw(Model.BodyText)]]></Design>
  <Hash>24a703c96e902cbf181d76be37dd6fb9</Hash>
</Template>