<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>HomeLandingPage</Name>
  <Alias>HomeLandingPage</Alias>
  <Design><![CDATA[﻿@using UmbracoBase.Web.Models.ViewModels.LandingPages
@inherits UmbracoViewPage<HomeLandingPageViewModel>
@{
    Layout = "_Layout.cshtml";
}
<h1>
    @Model.PageTitle
</h1>
<a href="/content-page">Go to content page</a>]]></Design>
  <Hash>f1fd51261dd9ab4cb819140c3fdc887f</Hash>
</Template>