<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Landing Pages</Name>
    <Alias>LandingPages</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Webpages</Master>
    <Compositions>
      <Composition>Webpages</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>f894d14681ecaecb3848a308d2ca29a8</Hash>
</DocumentType>