<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Website</Name>
    <Alias>Website</Alias>
    <Icon>icon-globe-inverted-europe-africa color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>SiteData</Master>
    <Compositions>
      <Composition>SiteData</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>HomeLandingPage</DocumentType>
    <DocumentType>DefaultContentPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Redirect To Node</Name>
      <Alias>umbracoRedirect</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Redirects a user to the selected node instead of this node.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Settings</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the site.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>12</Id>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>f64ee1a3f69426b83cc4af8441fc80ba</Hash>
</DocumentType>