<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>main</Name>
  <FileName>main</FileName>
  <Content><![CDATA[img {
    max-width: 100%;   
}

.responsive-image {
    width: 270px;
    display: inline-block;
}

@media only screen and (max-width : 768px) {
    .responsive-image {
        width: 480px;
        display: block;
    }
}
]]></Content>
  <Hash>2a650c0d68be4d99ecfa669400c770a6</Hash>
</Stylesheet>