<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>website-login</Name>
  <FileName>website-login</FileName>
  <Content><![CDATA[.website-login-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.website-login-container .form-row {
    margin-bottom: 1em;    
}
.website-login-container .form-row label {
    margin-bottom: .5em;
    display: block;
}
.website-login-container .form-row input {    
    width: 100%;
    padding: .5em;
}
.website-login-container .form-row .submit-button {
    width: auto;
}
.website-login-container .form-row .field-validation-error {
    margin-top: 0.5em;
    display: block;
    color: red;
}
.website-login-container .validation-summary-errors {
    margin-bottom: 1em;
}
.website-login-container .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}
.website-login-container .validation-summary-errors ul > li {
    list-style: none;
    display: block;
    width: 100%;
    color: red;
}]]></Content>
  <Hash>11cf0acaba549a2f91b0fb5c4a928fce</Hash>
</Stylesheet>