<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home Landing Page</Name>
    <Alias>HomeLandingPage</Alias>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>LandingPages</Master>
    <Compositions>
      <Composition>LandingPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>HomeLandingPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>HomeLandingPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>d71cc9fe9aea2f0c3b6e5d196e56d5c4</Hash>
</DocumentType>