<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>_Layout</Name>
  <Alias>_Layout</Alias>
  <Design><![CDATA[﻿@using ClientDependency.Core.Mvc
@using UmbracoBase.Web.Models.ViewModels
@using UmbracoBase.Web.ExtensionMethods
@using Constants = UmbracoBase.Web.Globals.Constants
@inherits UmbracoViewPage<BaseWebPageViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Action(MVC.Meta.MetaTitle(Model.PageTitle))</title>
    @Html.Action(MVC.Meta.MetaElements())
    @{Html.RequiresCss("~/css/main.css");}
    @Html.RenderCssHere()
    @{
        Html.RequiresJs("~/scripts/slimmage.settings.js", providerName: Constants.HeadRendererProvider);
        Html.RequiresJs("~/scripts/slimmage.js", providerName: Constants.HeadRendererProvider);
    }
    @Html.RenderJsHere(Constants.HeadRendererProvider)
</head>
<body>
    <a href="/">Go home</a>
    @RenderBody()
    @{ Html.RequiresJs("~/scripts/main.js");}
    @Html.RenderJsHere()    
</body>
</html>]]></Design>
  <Hash>aa23d503aac81bc3004cef4c9e19b645</Hash>
</Template>