<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Site Data</Name>
    <Alias>SiteData</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>cd90303d312c5488470a7aefa1be93a0</Hash>
</DocumentType>